.header{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.left{
   
    flex: 0.4;
    padding-left: 10px;
    padding-top: 3px;
    
}
.right{
    background-color: aqua;
    flex: 1.5;
    padding-top: 10px;
}
.middle{
    flex: 2;
    height: 40px;
    padding-top: 10px;

    display: grid;
    grid-template-columns: 2.5fr 5fr 0.5fr;
}
.logo{

    width:40px
}
.nav_bar{
    margin: 0;
    display: flex;
}
.nav_bar a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
